.github
.husky
coverage
examples
__tests__
/src
*/**/node_modules/*
*/**/.eslintcache
.eslintrc.json
.prettierrc.json
jest.config.json
/tsconfig.json
/tsconfig.paths.json
build/jest-result.json
*/**/yarn.lock
*/**/package-lock.json
RELEASEME.md
