name: Daily Tests Run - PROD

on:
  schedule:
    - cron: '0 1 * * *' 

jobs:
  run-tests:
    runs-on: ubuntu-latest
    env:
      INWORLD_E2E_KEY: ${{ secrets.INWORLD_E2E_KEY }}
      INWORLD_E2E_SECRET: ${{ secrets.INWORLD_E2E_SECRET }}
      INWORLD_E2E_SCENE_TEXT: ${{ vars.INWORLD_E2E_SCENE_TEXT }}
      INWORLD_E2E_SCENE_SCENE: ${{ vars.INWORLD_E2E_SCENE_SCENE }}
      INWORLD_E2E_SCENE_VERB: ${{ vars.INWORLD_E2E_SCENE_VERB }}
      INWORLD_E2E_SCENE_AUDIO: ${{ vars.INWORLD_E2E_SCENE_AUDIO }}
      ALLURE_ENDPOINT: 'https://inworld.testops.cloud/'
      ALLURE_PROJECT_ID: '35'
      ALLURE_JOB_RUN_ID: ''
      ALLURE_RESULTS: 'build/allure-results'
      PROD_AUTH_IDENTITY_PROVIDER: projects/760085515784/locations/global/workloadIdentityPools/github-prod-pool/providers/github-prvdr
      PROD_AUTH_SERVICE_ACCOUNT: inworld-nodejs-sdk@inworld-ai-prod.iam.gserviceaccount.com
    permissions:
        contents: 'read'
        id-token: 'write'
    steps:
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - name: Checkout source code
        uses: actions/checkout@v3
      - id: "auth"
        name: "Authenticate to Google Cloud"
        uses: "google-github-actions/auth@v2"
        with:
          token_format: "access_token"
          workload_identity_provider: "${{ env.PROD_AUTH_IDENTITY_PROVIDER }}"
          service_account: "${{ env.PROD_AUTH_SERVICE_ACCOUNT }}"
      - id: "secrets"
        uses: 'google-github-actions/get-secretmanager-secrets@v2'
        with:
          secrets: |-
            ALLURE_TOKEN:inworld-ai-prod/allure-token
      - name: Install Packages
        run: npm install
      - name: Install Reporter packages
        run: | 
          npm install allure-commandline
          npm install allure-jest
          npm install jest-html-reporter
      - name: Install inworld/nodejs-sdk
        run: npm install @inworld/nodejs-sdk
      - name: Setup Allure TestOps
        if: always()
        uses: allure-framework/setup-allurectl@v1.0.0
        with:
          allure-endpoint: ${{ env.ALLURE_ENDPOINT }}
          allure-token: '${{ steps.secrets.outputs.ALLURE_TOKEN }}'
          allure-project-id: ${{ env.ALLURE_PROJECT_ID }}
        continue-on-error: true
      - name: Run Tests
        run: yarn test:e2e
      - name: Upload Test Result Artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: test-report.html
      - name: Upload Allure Results
        env:
          ALLURE_TOKEN: '${{ steps.secrets.outputs.ALLURE_TOKEN }}'
        if: always()
        run: allurectl upload ${{ env.ALLURE_RESULTS }}