name: On Demand Test Run

on:
  workflow_call:
    inputs:
      test_suite:
        required: true
        default: 'e2e/*'
        type: string
      os:
        default: ubuntu-latest
        type: string
      environment:
        default: 'PROD'
        type: string

  workflow_dispatch:
    inputs:
      test_suite:
        description: 'Select the test suite to run'
        required: true
        default: 'e2e/*'
      os:
        type: choice
        description: Choose OS to run on
        default: ubuntu-latest
        options:
        - ubuntu-latest
        - windows-latest
        - macos-latest
      environment:
        type: choice
        description: Choose environment to run on
        default: 'PROD'
        options:
        - 'PROD'
        - 'STAGE'
        - 'DEV'

run-name: On Demand Test Run - ${{ github.event.inputs.environment }} - ${{ github.event.inputs.os }}

jobs:
  run-tests:
    runs-on: ${{ github.event.inputs.os }}
    environment: ${{ github.event.inputs.environment }}
    env:
      INWORLD_E2E_KEY: ${{ secrets.INWORLD_E2E_KEY }}
      INWORLD_E2E_SECRET: ${{ secrets.INWORLD_E2E_SECRET }}
      INWORLD_E2E_SCENE_HOUSE: ${{ vars.INWORLD_E2E_SCENE_HOUSE }}
      INWORLD_E2E_SCENE_MOVIESET: ${{ vars.INWORLD_E2E_SCENE_MOVIESET }}
      INWORLD_E2E_SCENE_CASTLE: ${{ vars.INWORLD_E2E_SCENE_CASTLE }}
      INWORLD_E2E_SCENE_STUDIO: ${{ vars.INWORLD_E2E_SCENE_STUDIO }}
      INWORLD_E2E_CHARACTER_AUDIO: ${{ vars.INWORLD_E2E_CHARACTER_AUDIO }}
      INWORLD_E2E_CHARACTER_SCENE: ${{ vars.INWORLD_E2E_CHARACTER_SCENE }}
      INWORLD_E2E_CHARACTER_TEXT: ${{ vars.INWORLD_E2E_CHARACTER_TEXT }}
      INWORLD_E2E_CHARACTER_VERB: ${{ vars.INWORLD_E2E_CHARACTER_VERB }}
      ALLURE_ENDPOINT: 'https://inworld.testops.cloud/'
      ALLURE_PROJECT_ID: '35'
      ALLURE_JOB_RUN_ID: ''
      ALLURE_RESULTS: 'build/allure-results'
      AUTH_IDENTITY_PROVIDER: ${{ vars.AUTH_IDENTITY_PROVIDER }}
      AUTH_SERVICE_ACCOUNT: ${{ vars.AUTH_SERVICE_ACCOUNT }}
      ENV: ${{ github.event.inputs.environment }}
      OS: ${{ github.event.inputs.os }}
      PROJECT_ID: ${{ vars.PROJECT_ID }}
      NODE_SDK_INWORLD_ENGINE_HOST:  ${{ secrets.NODE_SDK_INWORLD_ENGINE_HOST }}
    permissions:
        contents: 'read'
        id-token: 'write'
    steps:
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - name: Checkout source code
        uses: actions/checkout@v3
      - id: "auth"
        name: "Authenticate to Google Cloud"
        uses: "google-github-actions/auth@v2"
        with:
          token_format: "access_token"
          workload_identity_provider: "${{ env.AUTH_IDENTITY_PROVIDER }}"
          service_account: "${{ env.AUTH_SERVICE_ACCOUNT }}"
      - id: "secrets"
        uses: 'google-github-actions/get-secretmanager-secrets@v2'
        with:
          secrets: |-
            ALLURE_TOKEN:${{env.PROJECT_ID}}/allure-token
      - name: Install Packages
        run: yarn install
      - name: Install inworld/nodejs-sdk
        run: yarn add @inworld/nodejs-sdk
      - name: Setup Allure TestOps
        if: always()
        uses: allure-framework/setup-allurectl@v1.0.0
        with:
          allure-endpoint: ${{ env.ALLURE_ENDPOINT }}
          allure-token: '${{ steps.secrets.outputs.ALLURE_TOKEN }}'
          allure-project-id: ${{ env.ALLURE_PROJECT_ID }}
        continue-on-error: true
      - name: Run Tests
        run: yarn jest "${{ github.event.inputs.test_suite }}"     
      - name: Upload Allure Results
        env:
          ALLURE_TOKEN: '${{ steps.secrets.outputs.ALLURE_TOKEN }}'
        if: always()
        run: allurectl upload ${{ env.ALLURE_RESULTS }}
